<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="meni-lista">
          <ion-list-header>Pozajmice</ion-list-header>
          <ion-note>Evidencija pozajmica i rata</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let stavka of meniStavke">
            <ion-item
              [routerLink]="[stavka.url]"
              routerLinkActive="selected"
              routerDirection="root"
              lines="none"
              detail="false">
              <ion-icon slot="start" [name]="stavka.ikonica"></ion-icon>
              <ion-label>{{ stavka.naslov }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" *ngIf="prijavljen">
            <ion-item button lines="none" detail="false" (click)="odjaviSe()">
              <ion-icon slot="start" name="log-out-outline"></ion-icon>
              <ion-label>Odjava</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>